body {font-family:monospace
}

h3,p,h2{
    margin:0;
}

header{
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.gallery {
    height: 300px;
    background-image: url('../imagensaula3/apartment.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery div {
    background-color: rgba(0, 0, 0, .3);
    color: white;
    text-align: center;
    padding: 20px;
}
.apartamentos {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto;
}
.House-Card {
            border-radius: 10px;
            position: relative;
            margin-top: 20px;
            overflow: hidden;
            border: solid 1px black;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) ;
        }
            .House-ForSale {
                background-color: #e97132ff;
                color: white;
                padding: 5px;
                position: absolute;
                top: 10px;
                left: 10px;
                text-transform: uppercase;
                font-size: 12px;
                border-radius: 5px;
            }
        .House-details {
            padding: 10px;

        }
        .House-image {
            height: 150px;
            background-image: url('../imagensaula3/apartment.jpeg');
            background-size: cover;
            background-position: center;
        }
            .Location {
                display: flex;
                align-items: center;
                gap: 5px;
                margin-top: 3px;
                margin-bottom: 5px;
            }
            .Location img {
                width: 20px;
                height: 20px;
            }
                .House-icons {
                    display: flex;
                    justify-content: space-around;
                    gap: 10px;
                    padding: 10px;
                    border-bottom: solid 2px gray;
                }
                .House-icons img {
                    width: 30px;
                    height: 30px;
                }
                .more-details {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px;
                } 
                    .House-price {
                        font-size: 14px;
                        font-weight: bold;
                    }
                    .button2 {
                        background-color: #757575;
                        color: white;
                        padding: 10px 15px;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                    .button2:hover {
                        background-color: #e84d3dff;
                    }
footer{
    background-color: black;
    color: white;
    height: 50px;
    padding: 10px;
    text-align: center;
}

@media screen and (min-width: 380px) and (max-width: 600px) {
    .apartament-list {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 380px) {
    .apartament-list {
        grid-template-columns: auto;
    }
}