body {
  background-color: #1a1a2e;
  min-height: 100vh;
}

main {
  min-height: 80vh;
}

.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.hero {
  background: linear-gradient(135deg, #1a1a2e, #16213e);
  padding: 60px 0;
}

.stars {
  color: #ffd700;
}

.card-img-top {
  height: 175px; 
  object-fit: contain; /* A magia que faz a imagem aparecer toda! */
  object-position: center;
  background-color: #212529; /* Dica: Adiciona uma cor de fundo escura para preencher o espaço vazio que vai sobrar nas laterais das imagens mais estreitas */
  padding: 1px; /* Opcional: dá uma pequena margem para a imagem "respirar" dentro do cartão */
}